/*
*   Application: Caytree Financial Web App.
*   Description: This theme is for the new dashboard for the web application
*   App URL: https://finance.caytree.com
*
*   Date Created: 24 February 2015
*
*/


/* *****************
    DEFAULT VALUES
   *****************
*/

html h1, html h2, html h3, html h4, html h5, html h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

a, a:hover, a:visited, a:focus, ul li a, ul li a:hover, ul li a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
}

.source-sans, * {
    font-family: 'Source Sans Pro', sans-serif;
}

.n-pm{
    margin: 0;
    padding: 0;
}
.strong{
    font-weight: 700;
}
.text-light{
    font-weight: 300;
}
.va-middle{
    vertical-align: middle;
}


/* ------------ END OF DIFAULT VALUES ------------ */



/*
    **************
    CUSTOM SPACING
    **************
*/

.mw{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.pt {
    padding-top: 15px;
}
.pb {
    padding-bottom: 15px;
}
.pl {
    padding-left: 15px;
}
.pr {
    padding-right: 15px;
}
.pts {
    padding-top: 7px;
}
.pbs {
    padding-bottom: 7px;
}
.pls {
    padding-left: 7px;
}
.prs {
    padding-right: 7px;
}

.ptb {
    padding: 60px 0;
}

.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}

.ml {
    margin-left: 15px;
}
.mr {
    margin-right: 15px;
}
.mbs {
    margin-bottom: 7px;
}
.mts {
    margin-top: 7px;
}
.mls {
    margin-left: 7px;
}
.mrs {
    margin-right: 7px;
}
.mt-l {
    margin-left: -7px;
}
.mt-s {
    margin-top: -7px;
}
.mt-xs {
    margin-top: -4px;
}
.mtb{
    margin: 60px 0;
}

.space-xs{
    height: 30px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.space-sm{
    height: 60px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.space-md{
    height: 1200px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.space-lg{
    height: 240px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.fw{
    width: 100%;
}

/* Height Vars */
.height-xs{
    height: 170px;
    overflow-y: auto;
}
.height-sm{
    height: 300px;
    overflow-y: auto;
}
.height-md{
    height: 375px;
    overflow-y: auto;
}
.height-lg{
    height: 450px;
    overflow-y: auto;
}

/* ------------ END OF CUSTOM SPACING ------------ */



/*
    *******
    BORDERS
    *******
*/
.bd{
    border-style: solid;
    border-radius: 4px;
}
.bd-t{
    border-top-style: solid;
    border-radius: 4px;
}
.bd-b{
    border-bottom-style: solid;
    border-radius: 4px;
}
.bd-l{
    border-left-style: solid;
    border-radius: 4px;
}
.bd-r{
    border-right-style: solid;
    border-radius: 4px;
}

.bd-1{
    border-width: 1px;
}
.bd-2{
    border-width: 2px;
}
.bd-3{
    border-width: 3px;
}
.bd-4{
    border-width: 4px;
}
.bd-5{
    border-width: 5px;
}


.divider-light{
    border-bottom: #eee solid 1px;
    padding-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.divider-dark{
    border-bottom: #aaa solid 1px;
}


/* ------------ END OF CUSTOM SPACING ------------ */







/* ------------ END OF CUSTOM COLORS ------------ */



/*
    *********************
    INDIVIDUAL PROPERTIES
    *********************
*/
body{
    background-color: #fafafa;
}
.imgBg1{
    background-image: url(../images/imgBg/img-01b.jpg);
    background-attachment: scroll;
    background-size: cover;
}
.imgBg2{
    background-image: url(../images/imgBg/img-02b.jpg);
    background-attachment: scroll;
    background-size: cover;
}
.imgBg3{
    background-image: url(../images/imgBg/img-03b.jpg);
    background-attachment: scroll;
    background-size: cover;
}
.imgBg4{
    background-image: url(../images/imgBg/img-04b.jpg);
    background-attachment: scroll;
    background-size: cover;
}


/* HEADER */
.header{
    margin-top: 20px;
    position: relative;
}
.header-logo{
    height: 50px;
}
.header-title{
    font-size: 24px;
    font-weight: 400;
    margin-top: 7px;
}
.nav-pills > li.power-off:hover > a{
    background: #ce0505;
    color: #fff;
}
.nav-pills > li.home:hover > a{
    background: green;
    color: #fff;
}
.nav-pills > li{
    margin-left: 10px;
}
.navBtn{
    margin-right: 45px;
    margin-top: 0px;
}


.topBar{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.topBar ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}
.topBar ul li{
    margin-top: -4px;
    margin-bottom: -4px;
    margin-left: 20px;
    padding: 16px 0;
}
.topBar ul li:last-child{
    margin-left: 0px;
}

.topBar ul li a{
    display: inline;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    font-size: 20px;
}
.topBar ul li a{
    color: #fff;
}
.breadcrumbDesc{
    text-transform: capitalize;
}




/* GRID 01 */
.grid-01 { /* Left Navigation */
    float: left;
    position: relative;
    color: #fff;
    padding-top: 20px;
    z-index: 0;
    background-color: rgba(0,0,0,0.5);
}
.prof-img{
    width: 105px;
    height: 105px;
    overflow: hidden;
    background: #fff;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}
.prof-img img{
    width: 95px;
    height: 95px;
    margin: 5px;
}
.companyName{
    margin-top: 15px;
    font-weight: 400;
    font-size: 21px;
}
ul.leftNav p{
    margin-bottom: 10px;
    color: #ccc;
    font-size: 12px;
}
ul.leftNav p span.nav-section{
    margin-left: -18px;
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
}
ul.leftNav{
    margin-left: 40px;
    margin-bottom: 30px;
}
ul.leftNav a li{
    padding: 8px 15px 8px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    margin-right: -4px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 100ms ease;
}
ul.leftNav li a, ul.leftNav li a:hover{
    color: #fff;
}
ul.leftNav li.active, ul.leftNav li:hover{
    font-weight: 700;
}
ul.leftNav a.navDashboard:hover li, ul.leftNav a.navDashboard li.active{
    background-color: #8BBFD2;
}
ul.leftNav a.navRevenue:hover li, ul.leftNav a.navRevenue li.active{
    background-color: #2FCC71;
}
ul.leftNav a.navExpenditure:hover li, ul.leftNav a.navExpenditure li.active{
    background-color: #E84C3D;
}
ul.leftNav a.navAccounts:hover li, ul.leftNav a.navAccounts li.active{
    background-color: #043A47;
}
ul.leftNav a.navReports:hover li, ul.leftNav a.navReports li.active{
    background-color: #1B5959;
}
ul.leftNav a.navInvoicing:hover li, ul.leftNav a.navInvoicing li.active{
    background-color: #03588C;
}
ul.leftNav a.navPayroll:hover li, ul.leftNav a.navPayroll li.active{
    background-color: #be00f7;
}
ul.leftNav a.navAccountants:hover li, ul.leftNav a.navAccountants li.active{
    background-color: #03588C;
}
ul.leftNav a.navProducts:hover li, ul.leftNav a.navProducts li.active{
    background-color: #665EFF;
}
ul.leftNav a.navContacts:hover li, ul.leftNav a.navContacts li.active{
    background-color: #FFA93B;
}
ul.leftNav a.navPersonal:hover li, ul.leftNav a.navPersonal li.active{
    background-color: #00acba;
}
ul.leftNav a.navBusiness:hover li, ul.leftNav a.navBusiness li.active{
    background-color: #00acba;
}
ul.leftNav a.navNotifications:hover li, ul.leftNav a.navNotifications li.active{
    background-color: #00acba;
}
ul.leftNav a.navLoans:hover li, ul.leftNav a.navLoans li.active{
    background-color: #ff0089;
}
ul.leftNav li.social{
    color: #000;
}
ul.leftNav li.social .color-tw:hover{
    color: #3bd2ff;
}
ul.leftNav li.social .color-fb:hover{
    color: #006c8d;
}
ul.leftNav li.social .color-g:hover{
    color: #ff0000;
}





/* GRID 02: Navigation */
.grid-02{
    min-height: 1000px;
    background: #fff;
    float: right;
    position: relative;
    z-index: 0;
    padding-bottom: 100px;
}
.miniNav{
    background: #efefef;
    border-bottom: #ccc solid 1px;
    color: #9f9c9c;
}

.miniNav ul li{
    margin-right: 20px;
}
.miniNav ul li a{
    color: inherit;
    padding-bottom: 10px;
    font-weight: 700;
}
.miniNav ul li a:hover, .miniNav ul li a.active{
    color: #000;
    border-bottom: #000 solid 2px;
}





/* GRID 03: Main Page */
.grid-03 {
    width: 83%;
    bottom: 0px;
    float: right;
    position: relative;
    overflow-x: auto;
    z-index: 0;
}




.dropdown-menu{
    z-index: 1000;
}
.dropdown-menu li a{
    font-size: 13px;
    padding: 3px 15px;
}

/* Input */
.brand-input{
    border: none;
    outline: none;
    color: #777;
    font-weight: 700;
    box-shadow: none;
}
.profileNameField{
    font-size: 36px;
    height: auto;
}
.brand-heading{
    border-bottom: #ddd solid 1px;
    padding-bottom: 15px;
}







/* ------------ END OF INDIVIDUAL PROPERTIES ------------ */















