/*
    *************
    BASIC COLORS
    *************
*/

.red, .text-danger, .text-red {
    color: #CE4844;
}
.green, .text-success, .text-green {
    color: #029C03;
}

/*  Brand Blue: 031F65
/*  Brand Bright Blue: 0032b1
    Brand Green: 029C03
*/

/* Background Color */
.brand-bg, .theme-bg, .brand-bg-business, .brand-bg-alt .topBar ul li a:hover{
    background-color: #2B729E;
    color: #fff;
}
.brand-bg-alt, .brand-bg-personal, .brand-bg .topBar ul li a:hover{
    background-color: #029C03;
    color: #fff;
}
.theme-brand{
    background: #2B729E ;
    color: #fff !important;
}
.theme-highlight{
    background: #0487D9 ;
    color: #fff;
}
.theme-accent{
    background: #05AFF2 ;
    color: #fff;
}
.theme-active{
    background: #05AFF2 ;
    color: #fff;
}

/*  Text Color */
.text-brand, li a.text-brand{
    color: #0032b1;
}
.text-alt, li a.text-alt{
    color: #029C03;
}
.text-light-grey, li a.text-light-grey{
    color: #d4d4d4;
}
.text-grey{
    color: #aaa;
}

/* Input */
.brand-input:focus, .brand-input:hover, .brand-input.clicked{
    background: #eee;
}



/*  Border Color */
.bd-brand{
    border-color: #0032b1;
}
.bd-highlight{
    border-color: #0487D9;
}
.bd-alt{
    border-color: #029C03;
}
.bd-grey{
    border-color: #c6c5c5;
}
.bd-light-grey{
    border-color: #d6d6d6;
}

/*  Brand Grey: #aaa */
.bg-grey{
    background-color: #aaa;
}
.bg-light-grey{
    background-color: #efefef;
}



/*  White: #fff */
.bg-white{
    background-color: #fff;
}
.text-white{
    color: #fff;
}



/*
    *************
    THEME COLORS: 01: BLUE SHADE
    *************
*/


.left-nav-list ul li.selected{
    background: #012340;
}

/* Links */
a, a:visited, ul li a, ul li a:hover, a:focus {
    color: #000;
}

.text-highlight, a.highlight{
    color: #0487D9;
}

.btn-primary{
    background: #0487D9 ;
    color: #fff;
    border: #05AFF2 solid 1px;
}
.btn-primary:hover, .btn-primary:focus, .open > .dropdown-toggle.btn-primary{
    background: #03588C;
    color: #fff;
    border: #05AFF2 solid 1px;
}
.btn-success{
    background: #96D300;
    color: #fff;
    border: #5e8400 solid 1px;
}
.bd-dark{
    border-color: #012340;
}
.bd-white{
    border-color: #fff;
}






