<!-- Notifications. Loads in #grid-02 -->
<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">APP</h5>
        <h3 class="n-pm mb pb strong">INVOICING</h3>
        <ul class="list-inline">
            <li><a href="#">SUMMARY</a></li>
            <li><a href="#">CREATE INVOICE</a></li>
            <li><a href="#" class="active">RECEIVE PAYMENT</a></li>
            <li><a href="#">INVOICING SETTINGS</a></li>
        </ul>
    </div>
</div>


