<!-- Dashboard Loads in #grid-02 -->

<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">MAIN</h5>
        <h3 class="n-pm mb pb strong">DASHBOARD</h3>
    </div>
</div>


<div class="row ptb">
    <div class="col-md-4 text-center">

        <h5 class="text-light">TOTAL ACCOUNTS BALANCE</h5>
        <canvas id="dChart" height="170" class="row mt mb"></canvas>
        <h1 class="n-pm">Ksh. 345,938</h1>
        <div class="col-md-8 col-md-offset-2 small">This is your total amount in all your accounts. The chart shows the breakdown.</div>
    </div>

    <div class="col-md-8 mt">
        <div class="col-md-6">
            <div class="dropdown">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">REVENUE & EXPENDITURE <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h5>PROFIT & LOSS</h5></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h5>SPENDING TRENDS</h5></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h5>REVENUE TRENDS</h5></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h5>COLLECTIONS</h5></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-inline pull-right mts">
                <li class="strong"><a href="#">This month</a></li>
                <li class="text-grey"><a href="#">6 Month</a></li>
                <li class="text-grey"><a href="#">This Year</a></li>
            </ul>
        </div>
        <!-- CHART STARTS HERE -->
        <canvas id="barChart" height="130" class="col-md-12 mt"></canvas>
    </div>

</div>
<div class="row bg-light-grey bd-1 bd-light-grey bd-b bd-t">

    <!-- SECTION 2: Accounts Summary -->
    <div class="ptb">

        <!-- SCENARIO 1: When there are no accounts to show -->
        <!-- <div class="col-md-12 height-md text-center pt">
            <h4 class="btn btn-success mb">ADD ACCOUNT</h4>
        </div> -->
        <!-- End of Scenario 1 -->

        <!-- SCENARIO 2: When there are multiple accounts to show. -->
        <div class="col-md-3 height-lg">

            <div class="dropdown mbs ml">
                <button class="btn btn-default btn-lg dropdown-toggle strong" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">MY ACCOUNTS <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ASSETS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LIABILITIES</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ANOTHER GROUP<br />OF ACCOUNTS</a></li>
                </ul>
            </div>

            <a href="#">
                <div class="row ml mbs">
                    <div class="col-md-12 mts mbs">
                        <h4 class="n-pm "><i class="fa fa-money"></i> CASH</h4>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="row ml theme-highlight mbs">
                    <div class="col-md-12 mts mbs">
                        <h4 class="n-pm "><i class="fa fa-phone"></i> MPESA</h4>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="row ml mbs">
                    <div class="col-md-12 mts mbs">
                        <h4 class="n-pm "><i class="fa fa-building"></i> EQUITY BANK</h4>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row ml mbs">
                    <div class="col-md-12 mts mbs">
                        <h4 class="n-pm "><i class="fa fa-money"></i> CASH AT HAND</h4>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row ml mbs">
                    <div class="col-md-12 mts mbs">
                        <h4 class="n-pm "><i class="fa fa-building"></i> CBA</h4>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row ml mbs">
                    <div class="col-md-12 mts mbs">
                        <h4 class="n-pm "><i class="fa fa-building"></i> NATIONAL BANK</h4>
                    </div>
                </div>
            </a>
            <div class="col-md-12 text-center text-grey pt"><a href="" class="small text-brand-alt" data-toggle="modal" data-target="#addAccount">+ADD ACCOUNT</a></div>

        </div>
        <!-- End of Scenario 2 -->


        <!-- Shows the specific account details -->
        <div class="col-md-4 bg-white bd-1 bd-light-grey bd pt height-md">
            <h3 class="n-pm">MPESA</h4>
            <p class="small"><strong>TYPE:</strong> CURRENT</p>

            <div class="divider-dark"></div>
            <div class="height-xs mts bd-1 bd-light-grey bd-b">
                <h5 class="strong">Notes</h5>
                <p><em>Default account for receiving money via my phone number.<br />(0721234567)</em></p>

            </div>

            <div class="row text-green pt">
                <div class="col-md-5">
                    <h5 class="n-pm small">RECEIVED</h5>
                </div>
                <div class="col-md-7 text-right">
                    <h5 class="n-pm">Ksh. 865,350</h5>
                </div>
            </div>

            <div class="row text-red pts">
                <div class="col-md-5">
                    <h5 class="n-pm small">SPENT</h5>
                </div>
                <div class="col-md-7 text-right">
                    <h5 class="n-pm">Ksh. 800,000</h5>
                </div>
            </div>

            <div class="row mt">
                <div class="divider-dark mb"></div>
                <div class="col-md-12 text-right mb">
                    <h3 class="n-pm green">Ksh. 65,350</h3>
                </div>
            </div>
        </div>


        <!-- Latest Activity for a particular account -->
        <div class="col-md-5">

            <div class="row">
                <div class="col-md-10"><h6>Latest Activity</h6></div>
            </div>
            <div class="divider-dark"></div>

            <div class="height-sm">
                <table class="table table-unstyled table-stripped small">
                    <tr class="text-grey">
                        <th>Type</th>
                        <th>Description</th>
                        <th class="text-right">Amount</th>
                    </th>
                    <tr class="">
                        <td class="text-center"><i class="fa fa-circle red"></i></td>
                        <td>
                            <h6 class="n-pm"><strong>Office Printer from Office Mart</strong></h6>
                            <small>13 January 2015</small>
                        </td>
                        <td class="text-right strong">-34,000</td>
                    </tr>
                    <tr class="">
                        <td class="text-center"><i class="fa fa-circle green"></i></td>
                        <td>
                            <h6 class="n-pm"><strong>Sale of Office Desk</strong></h6>
                            <small>14 January 2015</small>
                        </td>
                        <td class="text-right strong">4,000</td>
                    </tr>
                    <tr class="">
                        <td class="text-center"><i class="fa fa-circle red"></i></td>
                        <td>
                            <h6 class="n-pm"><strong>Office Hardware - Reception Desk and Chair</strong></h6>
                            <small>16 January 2015</small>
                        </td>
                        <td class="text-right strong">45,000</td>
                    </tr>
                    <tr class="">
                        <td class="text-center"><i class="fa fa-circle green"></i></td>
                        <td>
                            <h6 class="n-pm"><strong>Sale of Office Desk</strong></h6>
                            <small>18 January 2015</small>
                        </td>
                        <td class="text-right strong">45,000</td>
                    </tr>
                    <tr class="">
                        <td class="text-center"><i class="fa fa-circle red"></i></td>
                        <td>
                            <h6 class="n-pm"><strong>Office Printer from Office Mart</strong></h6>
                            <small>13 January 2015</small>
                        </td>
                        <td class="text-right strong">-34,000</td>
                    </tr>
                    <tr class="">
                        <td class="text-center"><i class="fa fa-circle red"></i></td>
                        <td>
                            <h6 class="n-pm"><strong>Office Printer from Office Mart</strong></h6>
                            <small>13 January 2015</small>
                        </td>
                        <td class="text-right strong">-34,000</td>
                    </tr>
                </table>
            </div>
            <div class="divider-dark mb"></div>
            <div class="fw text-right"><button class="btn btn-primary btn-sm">Go to this account</button> <button class="btn btn-primary btn-sm">View Reports</button></div>
        </div>


        <!-- SCENARIO 3: Opening a new account -->
        <!--<div class="col-md-3 bg-white bd-1 bd-light-grey bd pt">
            <h3 class="n-pm">ACCOUNT TYPE</h4>
        </div>-->

    </div>
</div> <!-- End of SECTION 2: Accounts Summary -->



<!-- SECTION 3: INVOICES, BILLS, QUOTES -->
<div class="">

    <div class="col-md-8 mtb">
        <div class="row">
            <div class="col-md-3">
                <div class="dropdown mbs">
                    <button class="btn btn-default dropdown-toggle strong" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">INVOICES <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BILLS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">QUOTES</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COLLECTION</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9 text-right small">
                <ul class="list-unstyled list-inline mts">
                    <li><a href="#" class="">All Invoices</a></li>
                    <li><a href="#" class="text-light-grey">Upcoming</a></li>
                    <li><a href="#" class="text-light-grey">Overdue</a></li>
                </ul>
            </div>
        </div>

        <!-- The information on this div should change when either Invoices, Bills or Quotations is selected. -->
        <!-- When one item is selected, it should highlight using .theme-highlight-dark and its information retrieved and shown in the information pane on the right of this section. -->
        <div class="row mb">
            <div class="col-md-12 height-md">
                <table class="table table-unstyled table-stripped pb">
                    <tr class="warning">
                        <td>4th Jan</td>
                        <td>
                            <h4 class="n-pm">Uneliver Limited</h4>
                            <small>Caytree Financial Account creation</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 23,000</h4></td>
                    </tr>
                    <tr class="success">
                        <td>15th Jan</td>
                        <td>
                            <h4 class="n-pm">Kenya Airways SACCO</h4>
                            <small>CF Accounts packages</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 20,000</h4></td>
                    </tr>
                    <tr class="theme-brand">
                        <td>2nd Feb</td>
                        <td>
                            <h4 class="n-pm strong">KCB Bank Group</h4>
                            <small>Web Application Development</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 3,000</h4></td>
                    </tr>
                    <tr class="warning">
                        <td>26th Feb</td>
                        <td>
                            <h4 class="n-pm">Coca Cola East Africa</h4>
                            <small>Mobile App development</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 109,000</h4></td>
                    </tr>
                    <tr class="success">
                        <td>23rd Mar</td>
                        <td>
                            <h4 class="n-pm">Starcom Limited</h4>
                            <small>Marketing Solutions</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 109,000</h4></td>
                    </tr>
                    <tr class="success">
                        <td>15th Jan</td>
                        <td>
                            <h4 class="n-pm">Wananchi Group</h4>
                            <small>Internet Access</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 20,000</h4></td>
                    </tr>
                    <tr class="success">
                        <td>15th Jan</td>
                        <td>
                            <h4 class="n-pm">Wananchi Group</h4>
                            <small>Internet Access</small>
                        </td>
                        <td class="strong text-right text-light"><h4 class="n-pm">Ksh. 20,000</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right strong">TOTAL</td>
                        <td class="text-right theme-bg"><h3 class="n-pm">Ksh. 320,000</h3></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <!-- This is the information pane for showing the item selected on the left. -->
    <div class="col-md-4 mtb">
        <div class="row theme-brand pt pb">
            <div class="col-md-6">
                <small>More Information</small>
            </div>
            <div class="col-md-6 text-right">

                <!-- This dropdown should change according to Invoices, bills or quotes selected. -->
                <div class="dropdown">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu small dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" >Invoice: Receive Payment</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" >Invoice: Send Reminder via Email</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" >Quotes: Convert to Invoice</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" >Bills: Make payment</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ><i class="fa fa-edit"></i> Edit</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 mt">
                <h6 class="n-pm strong">Payee:</h6>
                <h4 class="n-pm strong">KCB Bank Group</h4>
                <h6 class="n-pm pts"><strong>Expiry: </strong><span>26th March 2015</span></h6>
                <div class="divider-dark pt mb"></div>
                <h6 class="strong">Description</h6>
                <p><em>Web application development for their mobile banking portal.</em></p>
                <div class="space-sm"></div>
                <table class="table table-condensed mt">
                    <tr>
                        <td><small>INITIAL:</small></td>
                        <td class="text-right">Ksh. 10,000</td>
                    </tr>
                    <tr>
                        <td><small>PAID:</small></td>
                        <td class="text-right">Ksh. 7,000</td>
                    </tr>
                    <tr>
                        <td><strong>BALANCE</strong></td>
                        <td class="text-right"><h4 class="n-pm strong">Ksh. 3,000</h4></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

</div> <!-- End of Section 3: Bills, Invoices, Quotes -->

<script type="text/javascript">

    // Chartjs Options
    var options = {

        // Line Chart
        bezierCurve: false,
        pointDot : true,
        pointDotRadius : 5,
        bezierCurveTension : 0.2,
        scaleShowVerticalLines: false,
        scaleShowHorizontalLines: false,


        // Line/Bar chart
        barValueSpacing : 15,
        barDatasetSpacing : 5,
        showScale: true,
        scaleShowGridLines : true,
        datasetFill : false,
        scaleShowLine : true,
        scaleShowLabels: true,
        scaleFontFamily: "sans-serif",


        // Global
        responsive: true,
        animation: true,
        animationEasing: "easeOutQuart",
        // animationEasing : "easeOutBounce",
        animateRotate : true,
        animateScale : true,


        tooltipEvents: ["mousemove", "touchstart", "touchmove"],
        tooltipCornerRadius: 3,

        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
    };

    // Data
    // Data
    var data = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            label: "Revenue",
            fillColor: "rgba(0, 180, 14, 1)",
            strokeColor: "rgba(0, 180, 14, 1)",
            pointColor: "rgba(0, 180, 14, 1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "#000",
            data: [650, 5900, 8000, 8100, 560, 5500, 400]
        }, {
            label: "Expenditure",
            fillColor: "rgba(229, 0, 0, 1)",
            strokeColor: "rgba(229, 0, 0, 1)",
            pointColor: "rgba(229, 0, 0, 1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(229, 0, 0, 1)",
            data: [2800, 480, 4000, 1900, 860, 270, 9000]
        }]
    };

    var data2 = [
        {
            value: 3000,
            color: "#F7464A",
            highlight: "#FF5A5E",
            label: "CASH"
        },
        {
            value: 5000,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "MPESA"
        },
        {
            value: 1000,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "EQUITY BANK"
        },
        {
            value: 400,
            color: "#949FB1",
            highlight: "#A8B3C5",
            label: "CBA"
        },
        {
            value: 1200,
            color: "#4D5360",
            highlight: "#616774",
            label: "OTHERS"
        },
        {
            value: 3000,
            color: "#F7464A",
            highlight: "#FF5A5E",
            label: "CASH"
        },
        {
            value: 5000,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "MPESA"
        },
        {
            value: 1000,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "EQUITY BANK"
        },
        {
            value: 4000,
            color: "#949FB1",
            highlight: "#A8B3C5",
            label: "CBA"
        },
        {
            value: 1200,
            color: "#4D5360",
            highlight: "#616774",
            label: "OTHERS"
        }

    ];

    // Load Data
    // var lineChart = $("#lineChart").get(0).getContext("2d");
    // var myLineChart = new Chart(lineChart).Line(data, options);

    // Load Data
    // var barChart = $("#barChart").get(0).getContext("2d");
    // var myBarChart = new Chart(barChart).Bar(data, options);

    // Load Data
    // var dChart = $("#dChart").get(0).getContext("2d");
    // var myDoughnutChart = new Chart(dChart).Doughnut(data2, options);


    // Load Data
    var barChart = $("#barChart").get(0).getContext("2d");
    var myBarChart = new Chart(barChart).Bar(data, options);

    // Load Data
    var dChart = $("#dChart").get(0).getContext("2d");
    var myDoughnutChart = new Chart(dChart).Doughnut(data2, options);

    console.log("Chart Works!");
</script>
