<!-- Personal Profile. Loads in #grid-02 -->


<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">SETTINGS</h5>
        <h3 class="n-pm pb strong">PERSONAL PROFILE</h3>
    </div>
</div>


<div class="mt row">
    <div class="col-md-2 text-center">
        <div class="height-xs brand-bg fw mb"></div>
    </div>

    <div class="col-md-10">

        <form class="row">
            <div class="form-group mbs">
                <div class="row">
                    <div class="col-md-6">
                        <input class="brand-input input-lg form-control profileNameField" type="text" value="JANE DOE" placeholder="Your Name" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="mt mb">
                        <button class="btn btn-default btn-xs">Upload Logo</button>
                        <span class="mr"></span>
                        <button class="btn btn-default btn-xs">Choose Logo</button>
                        <span class="mr"></span>
                        <button class="btn btn-danger btn-xs disabled">Delete Logo</button>
                    </div>
                </div>
            </div>

            <div class="col-md-11">
                <div class="">
                    <button class="btn btn-success">SAVE</button>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="space-sm"></div>

<div class="row">

    <div class="col-md-2 text-right">
        <h4><i class="fa fa-user"></i></h4>
    </div>

    <div class="col-md-10">
        <h4 class="strong brand-heading">CONTACT INFORMATION</h4>
    </div>


    <div class="col-md-5 col-md-offset-2">
        <form class="form-horizontal">
            <h5 class="brand-heading">USER</h5>
            <div class="form-group">
                <label class="col-md-3 control-label">Username:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="janedoe" placeholder="Your Name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Email:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="janedoe@gmail.com" placeholder="Your Email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Phone:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="072123456" placeholder="Your Email" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-5">
        <form class="form-horizontal">
            <h5 class="brand-heading">MAILING ADDRESS</h5>
            <div class="form-group">
                <label class="col-md-4 control-label">P. O. Box</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="12345" placeholder="Your Name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Postal Code:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="phone" value="00100" placeholder="Your Email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">City:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="Nairobi" placeholder="Your Email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Country:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="Kenya" placeholder="Your Email" />
                </div>
            </div>

            <div class="space-xs"></div>
            <div class="col-md-11">
                <div class="row text-right">
                    <button class="btn btn-success">SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="space-xs"></div>


<div class="row">

    <div class="col-md-2 text-right">
        <h4><i class="fa fa-lock"></i></h4>
    </div>

    <div class="col-md-10">
        <h4 class="strong brand-heading">SECURITY</h4>
    </div>


    <div class="col-md-4 col-md-offset-2">
        <form class="form-horizontal">
            <h5 class="brand-heading">CHANGE PASSWORD</h5>
            <div class="form-group">
                <label class="col-md-3 control-label">Current:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control clicked" type="password" value="" placeholder="***" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">New:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control clicked" type="password" value="" placeholder="***" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confirm:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control clicked" type="password" value="" placeholder="***" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form class="form-horizontal TEXT-LEFT">
            <h5 class="brand-heading">SECURITY QUESTIONS</h5>
            <div class="form-group">
                <div class="col-md-11">
                    <select class="form-control">
                        <option>Question 1:</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Answer:</label>
                <div class="col-md-9">
                    <input class="brand-input form-control clicked" type="text" value="" placeholder="" />
                </div>
            </div>
            <div class="space-xs"></div>
            <div class="form-group">
                <div class="col-md-11">
                    <select class="form-control">
                        <option>Question 2:</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Answer:</label>
                <div class="col-md-9">
                    <input class="brand-input form-control clicked" type="text" value="" placeholder="" />
                </div>
            </div>
            <div class="space-xs"></div>
            <div class="col-md-11">
                <div class="row text-right">
                    <button class="btn btn-success">SAVE</button>
                </div>
            </div>

        </form>
    </div>
</div>
