<!-- Settings: Business Profile. Loads in #grid-02 -->
<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">SETTINGS</h5>
        <h3 class="n-pm mb pb strong">BUSINESS PROFILE</h3>
        <ul class="list-inline miniNavLinks">
            <li><a href="views/settings-business-information.html" class="active">BUSINESS INFORMATION</a></li>
            <li><a href="views/settings-business-financial.html">FINANCIAL SETTINGS</a></li>
            <li><a href="views/settings-business-legal.html">LEGAL</a></li>
            <li><a href="views/settings-business-manage-users.html">MANAGE USERS</a></li>
            <li><a href="views/settings-business-subscriptions.html">SUBSCRIPTIONS</a></li>
        </ul>
    </div>
</div>

<div class="main-content">

<div class="mt row">

    <div class="col-md-3 text-center">
        <div class="height-xs brand-bg fw mb"></div>
    </div>

    <div class="col-md-9">

        <form class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input class="brand-input input-lg form-control profileNameField" type="text" value="BUSINESS NAME" placeholder="Your Business Name" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <p><strong>Logo</strong></p>
                    <p class="small">Logos should be not more than 500 pixels wide. A square resolution logo is prefered.</p>
                    <div class="mt mb">
                        <button class="btn btn-default btn-xs">Upload Logo</button>
                        <span class="mr"></span>
                        <button class="btn btn-default btn-xs">Choose Logo</button>
                        <span class="mr"></span>
                        <button class="btn btn-danger btn-xs disabled">Delete Logo</button>
                    </div>
                </div>
            </div>

            <div class="col-md-11">
                <div class="">
                    <button class="btn btn-success">SAVE</button>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="space-sm"></div>

<div class="row">

    <div class="col-md-1 text-right">
        <h4><i class="fa fa-building"></i></h4>
    </div>

    <div class="col-md-10">
        <h4 class="strong brand-heading">BUSINESS IDENTITY</h4>
    </div>


    <div class="col-md-4 col-md-offset-1">
        <form class="form-horizontal">
            <h5 class="brand-heading">BUSINESS</h5>
            <div class="form-group">
                <label class="col-md-3 control-label">Name:</label>
                <div class="col-md-9">
                    <input class="brand-input form-control" type="text" value="" placeholder="Business Name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Industry:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="" placeholder="Industry" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Email:</label>
                <div class="col-md-9">
                    <input class="brand-input form-control" type="text" value="" placeholder="Business Email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Phone:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="" placeholder="Business Phone" />
                </div>
            </div>
            <div class="space-xs"></div>

            <h5 class="brand-heading">CONTACT PERSON</h5>
            <div class="form-group">
                <label class="col-md-3 control-label">Name:</label>
                <div class="col-md-9">
                    <input class="brand-input form-control" type="text" value="janedoe" placeholder="Your Name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Username:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="janedoe" placeholder="Your Username" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Email:</label>
                <div class="col-md-9">
                    <input class="brand-input form-control" type="text" value="janedoe@gmail.com" placeholder="Your Email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Phone:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="072123456" placeholder="Your Email" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-5 col-md-offset-1">
        <form class="form-horizontal">
            <h5 class="brand-heading">MAILING ADDRESS</h5>
            <div class="form-group">
                <label class="col-md-5 control-label">P. O. Box</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="12345" placeholder="The Box Number" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Postal Code:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="phone" value="00100" placeholder="The Code" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">City:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="Nairobi" placeholder="Current City" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Country:</label>
                <div class="col-md-7">
                    <p class="brand-input form-control" type="text" value="Kenya" placeholder="Your Email">Kenya</p>
                </div>
            </div>

            <div class="space-xs"></div>

            <h5 class="brand-heading">PHYSICAL ADDRESS</h5>
            <div class="form-group">
                <label class="col-md-5 control-label">Office No.:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="" placeholder="Office Number" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Building:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="phone" value="" placeholder="Building Name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Street:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="" placeholder="Street" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">City:</label>
                <div class="col-md-7">
                    <input class="brand-input form-control" type="text" value="" placeholder="Current City" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Country:</label>
                <div class="col-md-7">
                    <p class="brand-input form-control" type="text" value="" placeholder="Your Email">Kenya</p>
                </div>
            </div>

            <div class="space-xs"></div>
            <div class="col-md-12">
                <div class="row text-right">
                    <button class="btn btn-success">SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>
