<!-- Settings: Business Subscriptions. Loads in #grid-02 -->
<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">SETTINGS</h5>
        <h3 class="n-pm mb pb strong">BUSINESS PROFILE</h3>
        <ul class="list-inline miniNavLinks">
            <li><a href="views/settings-business-information.html">BUSINESS INFORMATION</a></li>
            <li><a href="views/settings-business-financial.html">FINANCIAL SETTINGS</a></li>
            <li><a href="views/settings-business-legal.html">LEGAL</a></li>
            <li><a href="views/settings-business-manage-users.html">MANAGE USERS</a></li>
            <li><a href="views/settings-business-subscriptions.html" class="active">SUBSCRIPTIONS</a></li>
        </ul>
    </div>
</div>


<div class="space-sm"></div>

<div class="row">

    <div class="col-md-4 col-md-offset-1">
        <h5 class="n-pm">CURRENT PLAN</h5>
        <h2 class="n-pm mb strong">BONSAI </h2>
        <p>Expires in <span class="green strong">245 days</span> (27 November 2015)</p>
        <div class="divider-dark mb"></div>
        <p class=""><strong>Includes:</strong><br />
            <span class="small">Transactions, Invoices, Reports, Revenue and Expenditure, Payroll</span>
        </p>
    </div>
    <div class="col-md-5 col-md-offset-1 bg-light-grey height-xs">
        <h4>UPGRADE <br />information</h4>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div class="space-xs"></div>
        <h4 class="strong">PAYMENT HISTORY</h4>
        <table class="table table-hover table-striped">
            <tr class="strong">
                <th>PAYMENT DATE</th>
                <th>VIA</th>
                <th>REF ID</th>
                <th>EXPIRY</th>
                <th>AMOUNT</th>
            </tr>
            <tr>
                <td>12 DECEMBER 2012</td>
                <td>MPESA</td>
                <td>G345678JK</td>
                <td>12 DECEMBER 2013</td>
                <td>KSH. 12,800</td>
            </tr>
            <tr>
                <td>12 DECEMBER 2013</td>
                <td>MPESA</td>
                <td>G345678JK</td>
                <td>12 DECEMBER 2014</td>
                <td>KSH. 12,800</td>
            </tr>
            <tr>
                <td>12 DECEMBER 2014</td>
                <td>MPESA</td>
                <td>G345678JK</td>
                <td>12 DECEMBER 2015</td>
                <td>KSH. 12,800</td>
            </tr>
        </table>
    </div>



</div>
