<!-- Settings: Business Profile. Loads in #grid-02 -->
<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">SETTINGS</h5>
        <h3 class="n-pm mb pb strong">BUSINESS PROFILE</h3>
        <ul class="list-inline miniNavLinks">
            <li><a href="views/settings-business-information.html">BUSINESS INFORMATION</a></li>
            <li><a href="views/settings-business-financial.html">FINANCIAL SETTINGS</a></li>
            <li><a href="views/settings-business-legal.html" class="active">LEGAL</a></li>
            <li><a href="views/settings-business-manage-users.html">MANAGE USERS</a></li>
            <li><a href="views/settings-business-subscriptions.html">SUBSCRIPTIONS</a></li>
        </ul>
    </div>
</div>


<div class="space-sm"></div>

<div class="row">

    <div class="col-md-5 col-md-offset-1">
        <form class="form-horizontal">
            <div class="form-group col-md-12">
                <label class="">Legal Business Status:</label>
                <select class="form-control">
                    <option>Sole Proprietorship</option>
                    <option>Partnership</option>
                    <option>Company</option>
                </select>
            </div>

            <div class="form-group col-md-12">
                <label class="">KRA PIN:</label>
                <div class="">
                    <input class="brand-input form-control clicked" type="date" value="" placeholder="KRA" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="">VAT Number:</label>
                <input class="brand-input form-control clicked" type="date" value="" placeholder="VAT" />
            </div>
            <div class="form-group col-md-12">
                <label>NHIF Number:</label>
                <input class="brand-input form-control clicked" type="date" value="" placeholder="NHIF" />
            </div>
            <div class="form-group col-md-12">
                <label>NSSF Number:</label>
                <input class="brand-input form-control clicked" type="date" value="" placeholder="NSSF" />
            </div>

            <div class="space-xs"></div>
            <button class="btn btn-success">SAVE</button>
        </form>
    </div>



</div>
