<!-- Settings: Business Profile. Loads in #grid-02 -->
<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">SETTINGS</h5>
        <h3 class="n-pm mb pb strong">BUSINESS PROFILE</h3>
        <ul class="list-inline miniNavLinks">
            <li><a href="views/settings-business-information.html" class="">BUSINESS INFORMATION</a></li>
            <li><a href="views/settings-business-financial.html" class="active">FINANCIAL SETTINGS</a></li>
            <li><a href="views/settings-business-legal.html">LEGAL</a></li>
            <li><a href="views/settings-business-manage-users.html">MANAGE USERS</a></li>
            <li><a href="views/settings-business-subscriptions.html">SUBSCRIPTIONS</a></li>
        </ul>
    </div>
</div>


<div class="space-sm"></div>

<div class="row">

    <div class="col-md-4 col-md-offset-1">
        <form class="form-horizontal">
            <div class="form-group col-md-12">
                <label>Base Currency:</label>
                <input class="brand-input form-control clicked" type="text" value="" placeholder="Kenya Shilling" />
            </div>
            <div class="form-group col-md-12">
                <label>End of Financial Year:</label>
                <input class="brand-input form-control clicked" type="date" value="" placeholder="Date" />
            </div>
            <div class="form-group col-md-12">
                <label>End of Tax Year:</label>
                <input class="brand-input form-control clicked" type="date" value="" placeholder="Date" />
            </div>

            <div class="space-xs"></div>
            <button class="btn btn-success">SAVE</button>
        </form>
    </div>

    <div class="col-md-6">
        <h4>Reports settings</h4>
    </div>


</div>
