<!-- Settings: Business Profile. Loads in #grid-02 -->
<div class="row miniNav">
    <div class="col-md-12 pt">
        <h5 class="n-pm">SETTINGS
        <h3 class="n-pm mb pb strong">BUSINESS PROFILE</h3>
        <ul class="list-inline miniNavLinks">
            <li><a href="views/settings-business-information.html">BUSINESS INFORMATION</a></li>
            <li><a href="views/settings-business-financial.html">FINANCIAL SETTINGS</a></li>
            <li><a href="views/settings-business-legal.html">LEGAL</a></li>
            <li><a href="views/settings-business-manage-users.html" class="active">MANAGE USERS</a></li>
            <li><a href="views/settings-business-subscriptions.html">SUBSCRIPTIONS</a></li>
        </ul>
    </div>
</div>

<div class="row">

    <div class="col-md-10 col-md-offset-2">
        <h3>CURRENT USERS</h3>

        <table class="table table-hover table-striped">
            <tr class="strong">
                <th>NAME</th>
                <th>ACCESS</th>
                <th>EMAIL</th>
                <th colspan="2">LAST LOGIN</th>
            </tr>
            <tr>
                <td>James</td>
                <td>Kamau</td>
                <td>jameskamau@gmail.com</td>
                <td>12:34pm</td>
                <td class="text-center"><i class="fa fa-cog"></i></td>
            </tr>
            <tr>
                <td>James</td>
                <td>Kamau</td>
                <td>jameskamau@gmail.com</td>
                <td>12:34pm</td>
                <td class="text-center"><i class="fa fa-cog"></i></td>
            </tr>
            <tr>
                <td>James</td>
                <td>Kamau</td>
                <td>jameskamau@gmail.com</td>
                <td>12:34pm</td>
                <td class="text-center"><i class="fa fa-cog"></i></td>
            </tr>
        </table>
    </div>

</div>
